<nav class="navbar navbar-expand navbar-dark bg-dark static-top themeBgColor">
  <a class="navbar-brand" [routerLink]="['']">Start Up Project </a>
  <!-- <search-box [loginType]="loginType"></search-box> -->
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item dropdown" ngbDropdown *ngIf="!isLoggedIn">
        <a href="javascript:void(0)" class="nav-link pointer" ngbDropdownToggle style="padding-right:85px;">
          <i class="fa fa-user"></i> Login
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item pointer" (click)="goToLogin('admin')">
            <i class="fa fa-fw fa-user"></i> Admin
          </a>

          <a class="dropdown-item pointer" (click)="goToLogin('employer')">
            <i class="fa fa-fw fa-power-off"></i> Employer
          </a>
          <a class="dropdown-item pointer" (click)="goToLogin('candidate')">
            <i class="fa fa-fw fa-user"></i> Candidate
          </a>
          <a class="dropdown-item pointer" (click)="goToLogin('vendor')">
            <i class="fa fa-fw fa-user"></i> Vendor
          </a>
        </div>
      </li> -->
      <!-- <li class="nav-item dropdown" ngbDropdown *ngIf="isLoggedIn">
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle style="padding-right:85px;">
          <i class="fa fa-user"></i> {{sessionFirstName}} <b class="caret"></b>
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)" (click)="goToPage('profile')">
            <i class="fa fa-fw fa-user"></i> {{ 'Profile' }}
          </a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="goToPage('dashboard')">
            <i class="fa fa-fw fa-dashboard"></i> {{ 'Dashboard' }}
          </a>
          <a class="dropdown-item pointer" (click)="logOut()">
            <i class="fa fa-fw fa-power-off"></i> Log Out
          </a>

        </div>
      </li> -->
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a [routerLink]="['/login']" class="nav-link" style="padding-right:85px;">
           Login
        </a>
      </li>
    </ul>
  </div>
</nav>